---
title: Edge Collective
---

{% set css %}
  {% include "reset.css" %}
  {% include "style.css" %}
  {% include "prism.css" %}
{% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
  {{ css | cssmin | safe }}
</style>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="/img/edge_favicon.png" />
    <title>{{ pageTitle }}</title>
  </head>
  <body>

    <div id='post-content'>

  <h1><a href="/">Edge Collective</a>:  <b>{{ pageTitle }}</b></h1>
<hr>
        <!-- <h1>{{ pageTitle }}</h1> -->

  
  {{ content | safe }}

    </div>
  </body>
</html>
